*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    color: #777777;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    columns: inherit;
    cursor: default;
}

.btn {
    cursor: default;
    background-color: #18CFAB;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -4px #fff;
    width: 170px;

    font-style: normal;
    font-size: 15px;
    line-height: 32px;
    /* or 212% */
    color: #FFFFFF;
    font-weight: bold;
}

.title {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    text-transform: capitalize;
}
.bottom__line{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
.img{
    display: block;
}


.header{
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 895px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header__top{
    background: rgba(94, 93, 88, 0.6);   
}
.header__container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
}
.logo__img{
    padding: 25px 6px 25px 0;
}
.logo__text{
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    font-weight: normal;
    color: #fff;
}
.logo__text-big{
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    /* or 150% */
    color: #18CFAB;
    font-weight: bold;
}
.header__menu{
    display: flex;
    flex-wrap: nowrap;
    gap: 21px;
    align-items: center;
}
.menu__list{
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
    gap: 21px;
}
.menu__item{
    font-weight: bold;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    transition: 1s;
}
.menu__item:hover{
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
    padding: 46px 0 45px;
}
.search{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header__down{
    margin: 245px 0 ;
    display: flex;
    justify-content: center;
    text-align: center;
}
.down__container{
    display: flex;
    flex-direction: column;
    gap: 125px;
    justify-content: center;
}
.header__descr{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.descr__text{
    font-style: normal;
    color: #FFFFFF;
    font-size: 35px;
    /* or 3% */
    text-transform: uppercase;
    font-weight: bold;
}
.descr__green{
    color: #18cfab;
}
.descr__title{
    font-style: normal;
    font-size: 78px;
    /* or 1% */
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}
.header__descr_text{
    font-style: normal;
    font-size: 34px;
    /* or 3% */
    color: #D4D4D4;
    font-weight: normal;
    text-transform: capitalize;
}
.header__buttons{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.button__left,
.button__right{
    padding: 16px;
}
.button__right{
    background-color: #00cbf6;
}

.option{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-basis: auto; */
    width: 25%;
    padding-top: 95px;
    padding-bottom: 105px;
    align-items: center;
    background-color: #18cfab;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.block:nth-child(odd){
    padding-top: 85px;
    background-color: #1c2a33;
    color: #18cfab;
}
.block__logo{
    margin-bottom: 60px;
}
.block__logo:nth-child(odd){
    margin-bottom: 50px;
}

.services{
    padding: 90px 0;
}
.tabs__wrapper{
    margin-top: 70px;
}
.tabs {
    display: flex;
}
.tabs-title {
    padding: 18px 34px;
    background-color: #F8FCFE;
    color: #717171;
    cursor: default;
    list-style-type: none;
    border: 1.5px solid #EDEFEF;
}
.tabs-title.tabs_hov:hover{
    border: 1.5px solid #18CFAB;
}
.tabs-title.active {
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
}
.tabs-title.active::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    height: 25px;
    width: 25px;
    background-color: #18CFAB;
    transform: rotate(45deg) translateX(-50%);
    transition: 0.5s;
}
.content__wrapper{
    display: none;
}
.content__wrapper.active{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    gap: 15px;
}
.content__img{
    width: 190px;
    height: 140px;
}

.content__text{
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px; 
}

.purshase{
    background-image: url(../images/purshase__bg.jpg);
    width: 100%;
    height: 476px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 125px;
}
.purshase__title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}
.purshase__text{
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #d8d8d8;
    text-align: center;
}
.purshase__button{
    display: flex;
    justify-content: center;
    margin: 80px 0 145px;
}
.purshase__btn{
    padding: 16px 11px;
}


.work{
    background-color: #E9EDEF;
    padding: 100px 0;
}
.tabs__centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.work_tabs{
    background-color: #E9EDEF;
    color: #717171;
    border: 2px solid #DADADA;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    text-transform: capitalize;
}
.work_tabs.active{
    border: 2px solid #18CFAB;
    color: #18cfab;
    background-color: #E9EDEF;
}
.work_tabs.active::before{
    display: none;
}
.work__tabs_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 0;
}
.work__tabs_img{
    width: 100%;
    height: 100%;
}


.work__btn_centered{
    display: flex;
    justify-content: center;
}
.work__btn{
    background: #18CFAB;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    gap: 7px;
    padding: 11px 25px;
    margin-top: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    border: none;
    color: #FFFFFF;
    align-items: center;
}

.news{
    padding: 85px 0 130px;
}
.news__content{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 35px;
    width: 100%;
}

.content__img_wrapper{
    position: relative;
}
.date{
    position: absolute;
    top: 0;
    right: 0.5px;
    width: 70px;
    height: 70px;
    background-color: #203E38;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.news__block:hover .content__img_wrapper .date{
    background-color: #18CFAB;
}
.block__descr{
    margin-left: 15px;
}
.block__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    text-transform: capitalize;
    transition: 0.5s;
}
.news__block:hover .block__title{
    color: #18CFAB;
}
.comment{
    display: flex;
    gap: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.client{
    background-image: url(../images/client_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.client__title{
    color: #fff;
}
/* ___________________________ */
.client__container{
    overflow: hidden;
}
.card__wrapper{
    position: relative;
    width: 100%;
    min-height: 446px;
}
.client__card{
    margin-top: 65px;
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateX(0);
}
.client__card.active{
    transform: translateX(-100%);
    transition: transform 200ms linear;
    margin-top: 65px;
}
.client__card.prev{
    transform: translateX(-200%);
    transition: transform 200ms linear;
}
.bracket{
    display: flex;
    justify-content: center;
}
.client__text{
    margin: 40px 0;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}
.client__name {
    text-align: center;
}
.client__prof {
    text-align: center;
}
.card__client_photo{
    margin: 40px auto 0;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    width: 145px;
    height: 145px;
}
.photo{
    width: 100%;
    height: 100%;
}
.client__card_l{
    transition: 0.5s;
}
.client__card_l *{
    pointer-events: none;
}
.client__card_l.active{
    transform: translateY(-10px);
}

.client__choice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    gap: 25px;
}
.client__photo{
    border-radius: 50%;
    border: 6px solid rgba(31, 218, 181, 0.2);
}
.arrow__left,
.arrow__right{
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.arrow__left *,
.arrow__right *{
    pointer-events: none;
}
.arrow__left:hover,
.arrow__right:hover{
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
}

.gallery{
    margin: 100px 0 70px;
}
.gallery__wrapper{
    margin-top: 70px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr );
}


.copyright{
    background-color: #22353F;
    padding: 50px;
}
.copyright__text{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
}
.copyR{
    color: #18CFAB;
}
